{{!< default}}


{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <img src="{{img_url feature_image}}" alt="" style="height: 100vh;"/>
    </div>
</main>

{{/post}}